<template>
<div class="q-pa-md">
    <h6 id="datosGenerales">Datos generales</h6> <q-chip v-if="flagguardado" outline color="primary" text-color="white" icon="done">
      Guardado
    </q-chip>
  <div class="row">
    
<q-input
        filled
        v-model="nombre"
        label="Nombre"
      
        lazy-rules
        class="col-4 q-pa-md"
        :rules="[(val) => (val && val.length > 0) || 'Campo obligatorio']"
      />
      <q-input
        filled
        v-model="primerapellido"
        label="Primer apellido"
        class="col-4 q-pa-md"
        lazy-rules
        @change="flagguardado=false"
        :rules="[(val) => (val && val.length > 0) || 'Please type something']"
      />
      <q-input
        filled
        v-model="segundoapellido"
        label="Segundo Apellido"
        class="col-4 q-pa-md"
        lazy-rules
        :rules="[(val) => (val && val.length > 0) || 'Please type something']"
      />
      <q-input
        filled
        v-model="ntrabajador"
        label="Número de trabajador"
        class="col-4 q-pa-md"
        lazy-rules
        :rules="[(val) => (val && val.length > 0) || 'Please type something']"
      />
      <q-input
        filled
        v-model="curp"
        label="CURP"
        class="col-4 q-pa-md"
        hint=""
        lazy-rules
        :rules="[(val) => (val && val.length > 0) || 'Please type something']"
      />
      <q-input
        filled
        v-model="correoadicional"
        label="Correo adicional"
        class="col-4 q-pa-md"
        hint="Diferente al @fam.unam.mx"
        lazy-rules
        :rules="[(val) => (val && val.length > 0) || 'Please type something']"
      />
      <br> <br>
         
      <q-btn color="secondary" label="Guardar" @click="guardar" />   

      <h6 class="col-12" id="nombramiento">Nombramiento actual</h6>
      <q-select
        class="col-8 q-pa-md"
        filled
        v-model="nombramiento"
        :options="options"
        label="Nombramiento actual"
      />

</div>
</div>
</template>

<script>
import axios from 'axios'
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'DatosGeneralesComponent'
  ,
  mounted(){
    axios.get('http://127.0.0.1:8000/api/datos-generales/ver').then(response=>(
       this.nombre=response.data.datos.nombre , 
       this.primerapellido=response.data.datos.primerapellido, 
       this.segundoapellido=response.data.datos.segundoapellido,
       this.curp=response.data.datos.curp,
       this.ntrabajador=response.data.datos.numerodetrabajador,
       this.correoadicional=response.data.datos.correoadicional
       ));
  },
  data(){
    return{
        nombre:null,
        primerapellido:null,
        segundoapellido:null,
        ntrabajador:null,
        curp:null,
        correoadicional:null,
        flagguardado:false,
        arreglodecosos:[],


    }
  },
  methods:{
    guardar(){
        axios.post('http://127.0.0.1:8000/api/datos-generales/guardar',{'nombre':this.nombre,'primerapellido':this.primerapellido,'segundoapellido':this.segundoapellido,'curp':this.curp,'correoadicional':this.correoadicional,'numerodetrabajador':this.ntrabajador}).then(()=>{
      this.flagguardado=true
     }).
     catch(function (error){
      console.log("error");
      console.log(error);
     });
    },
    obtener(){
        axios.get('http://127.0.0.1:8000/api/datos-generales/ver').then((response)=>
        console.log(response.data));
    }
    }
  ,
})
</script>