<template>
<div> 
  <DatosGeneralesComponent></DatosGeneralesComponent>
  <NombramientoComponent></NombramientoComponent>
  </div>



</template>

<script>
import { defineComponent } from 'vue'
import axios from 'axios'
import DatosGeneralesComponent from 'components/seccionuno/DatosGeneralesComponent.vue'
import NombramientoComponent from 'components/seccionuno/NombramientoComponent.vue'

export default defineComponent({
  name: 'IndexPage',
  components: {
    DatosGeneralesComponent,
    NombramientoComponent,
    NombramientoComponent
},
  setup(){
    axios.get('http://127.0.0.1:8000/sanctum/csrf-cookie').then(response=>{
      console.log(response)
    })
  }
})
</script>
