<template>
  <q-page
    class="bg-blue-grey-6 window-height window-width row justify-center items-center"
  >
    <div class="column">
      <div class="row">
        <h6 class="text-h6 text-white q-my-md text-center col-12">
          Sistema de Informes <br />
          Anuales de Profesores
        </h6>
      </div>
      <div class="row">
        <q-card square bordered class="q-pa-lg shadow-1">
          <q-card-section>
            <q-form class="q-gutter-md">
              <q-input
                square
                filled
                clearable
                v-model="email"
                type="curp"
                label="Email"
               
              />
              <q-input
                square
                filled
                clearable
                v-model="password"
                type="password"
                label="Contraseña"
                value="prueba"
              />
            </q-form>
          </q-card-section>
          <q-card-actions class="q-px-md">
            <q-btn
              unelevated
              color="blue-grey-6"
              size="lg"
              class="full-width"
              label="Ingresar"
              @click="ingresar"
            />
           
          </q-card-actions>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import axios from 'axios'
import { useRouter, useRoute } from 'vue-router'
export default {
  setup() {
    const router = useRouter()
    const route = useRoute()
    axios.defaults.withCredentials = true;
    const form={
      email:"",
      password:""
      
    }

    axios.get('http://127.0.0.1:8000/sanctum/csrf-cookie').then(response=>{
      console.log(response)
    })
  },
 
  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    ingresar(){
      axios.get("http://127.0.0.1:8000/sanctum/csrf-cookie");

     axios.post('http://127.0.0.1:8000/api/login',{'email':this.email,'password':this.password}).then(()=>{
      this.$router.push({ name: 'principal' });
     }).
     catch(function (error){
      console.log("error");
      console.log(error);
     });
    },
    getUser(){
       axios.get('http://127.0.0.1:8000/api/user').then(response=>{
        console.log(response)
       })
    }
  },
};
</script>

<style>
.q-card {
  width: 360px;
}
</style>
